{% extends 'base.html' %}

{% block content %}
    {% for question in questions %}
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge visible-lg">{{ question.getVotesNum }}</span>
            <h3 class="list-group-item-heading"><a href="{% url 'polls:vote' question.id %}">{{ question.question_text }}</a></h3>
            {% if question.hasImg %}
                <img class="img-responsive" style="max-height: 230px; margin-bottom: 10px; margin-top: 20px; border-radius: 10px;" src="/media/{{ question.img }}">
            {% endif %}
            <p>
                {{ question.desc_text }}
            </p>
            <p style="color: #a29b9b; height: 20px; padding-top: 15px;">
                <span class="glyphicon glyphicon-object-align-bottom pull-left"> 共{{ question.getVotesNum }}人完成投票</span>
                <span class="glyphicon glyphicon-eye-open pull-left" style="margin-left: 20px;"> <a href="{% url 'polls:detail' question.id %}">查看投票结果</a></span>
                <span class="glyphicon glyphicon-time pull-right"> {{ question.pub_date }}</span>
            </p>
        </li>
    </ul>
    {% empty %}
        <h3>暂无最新投票</h3>
    {% endfor %}
{% endblock %}