{% extends 'base.html' %}

{% block content %}
    {% if question %}

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1>{{ question.question_text }}</h1>
            </div>
            <div class="col-md-12">
                <blockquote>
                    <p>{{ question.desc_text }}</p>
                </blockquote>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <form action="{% url 'polls:savevote' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                        {% for choice in question.choice_set.all %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="choice_id" value="{{ choice.id }}">
                                    <p>{{ choice.choice_text }}</p>
                                </label>
                            </div>
                        {% endfor %}
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    {% else %}
        <h3>暂无最新投票</h3>
    {% endif %}
{% endblock %}